name: Deploy AMBA QA

on:
  workflow_dispatch: {}

permissions:
  id-token: write
  contents: read

env:
  Location: "norwayeast"
  ManagementGroupPrefix: "Corporate"

jobs:
  deploy_job:
    runs-on: ubuntu-latest
    environment: QA

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: "Az CLI login"
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true

      - name: Az CLI Deploy AMBA ARM template
        id: deploy_amba
        shell: bash
        run: |
          az deployment mg create --template-uri https://raw.githubusercontent.com/Eide-consulting/azure-monitor-baseline-alerts/main/patterns/alz/alzArm.json --location ${{ env.Location }} --management-group-id ${{ env.ManagementGroupPrefix }} --parameters ./patterns/alz/alzArm.param.json managementSubscriptionId=${{ secrets.AZURE_SUBSCRIPTION_ID }}
